# Environment variables
.env

# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/
node_modules/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Debug files
debug/

# Log files
*.log

# Database files
*.db
*.sqlite
*.sqlite3

# Build output
dist/
build/

# Mobile app specific
*.apk
*.aab
*.ipa
*.xcarchive

# Expo
.expo/
web-build/
.env*.local

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local Netlify folder
.netlify

# Temporary files
tmp/
temp/
